header{
    background-image: url('../../assets/backgroundimg.jpg');
    height: 100vh;
    background-size: cover;
   width: 100%;
   margin-left: auto;
   
}

header .header-left h1{
    width: 20%;
    margin: 20px;
    padding: 50px;
    color: black;
    font-size: 50px;
}
header .header-left p{
    color: black;
    margin-left: 70px;
   font-size: 20px;
    width: 30%;
    line-height: 1.5;

}
header .header-left div{
    display: flex;
    align-items: center;
    margin: 20px 50px;
    padding: 10px;
  
}
header .header-left div .order-now{
 display: flex;
 align-items: center;
 gap: 10px;
 border: 2px solid ;
 background-color: rgb(168, 45, 73);
 color: #fff;
 cursor: pointer;
 width: 15%;
 transition: 0.5s;


}
header .header-left div button{
    padding: 10px;
    border: none;
    background-color: rgb(168, 45, 73);
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    
   
}
header .header-left .order-now:hover{
    background-color: #fff;
    color: rgb(168, 45, 73);
    transition: 0.5s;
    border: 2px solid;
}

header .header-left .order-now button:hover{
    background-color: #fff;
    color: rgb(168, 45, 73);
}
header .header-left .lern-more{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid rgb(168, 45, 73);
    background-color: #fff;
    color: rgb(168, 45, 73);
    cursor: pointer;
    width: 15%;
    transition: 0.5s;
    
}
header .header-left .lern-more button{
    background-color: #fff;
    color: rgb(168, 45, 73);
}
 header .header-left .lern-more:hover{
    background-color: rgb(168, 45, 73);
    color: #fff;
} 
 header .header-left .lern-more button:hover{
    background-color: rgb(168, 45, 73);
    color: #fff;
} 

@media (max-width: 600px) {
    .header-left > *{
    
        text-align: center;

    }
    .header-left h1{
        width: 200px;
    }
    .header-left p{
      display: none;
    
    }
    .header-left button{
        margin-right: 300px;
       

    }
}