footer{
    background-color:  rgb(168, 45, 73);
    padding: 75px;
}
footer > *{
    text-align: center;
    margin: 15px;
    color: #fff;
}
.footer-up ul{
    display: flex;
    justify-content: center;
    gap: 30px;
    color: #fff;
    margin-bottom: 40px;
}
.footer-up ul li{
list-style: none;
}
.footer-up ul li a{
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-size: 17px;
}
.footer-up ul li a:hover{
    text-decoration: underline;
}
.footer-middle{
    display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;
   font-size: 21px;
   margin-bottom: 30px;
}
.footer-middle:hover{
    cursor: pointer;
}
.footer-down{
    font-size: 12px;
   font-weight: lighter;
    line-height: 1.5;
}

@media (max-width: 600px) {
    
}